.frameSet{
	background-color: #74584A;
	color: white;	
}

.nav li{
	background-color: #74584A;
	text-align: center;	
}

.nav li a{
	color: white;
	overflow: hidden;
}

.nav li a:hover {
	color: white;
	background-color: #08C5EB;
}

.active{
	color: white!important;
	background-color: #08C5EB;
}

.active a{
	color: white!important;
	background-color: #08C5EB;
}

/*#A4C700 = verde*/
/*#74584A = cafe*/
/*#08C5EB = azul*/
