.frameSet{
	background-color: #1A5A88;
	color: white;	
}

.nav li{
	background-color: #1A5A88;
	text-align: center;	
}

.nav li a{
	color: white;
	overflow: hidden;
}

.nav li a:hover {
	color: white;
	background-color: #08C5EB;
}

.active{
	color: white!important;
	background-color: #08C5EB;
}

.active a{
	color: white!important;
	background-color: #08C5EB;
}


/*#1A5A88 = azul oscuro*/
/*#08C5EB = azul claro*/