.frameSet{
	background-color: #044A2E;
	color: white;	
}

.nav li{
	background-color: #044A2E;
	text-align: center;	
}

.nav li a{
	color: white;
	overflow: hidden;
}

.nav li a:hover {
	color: white;
	background-color: #98B318;
}

.active{
	color: white!important;
	background-color: #98B318;
}

.active a{
	color: white!important;
	background-color: #98B318;
}


/*#044A2E = verde oscuro*/
/*#98B318 = verde claro*/